/* app global css */

.bg-transparent {
  background-color: rgba(0, 0, 0, 0);
}

strong{
  background: linear-gradient(to right, rgb(0, 72, 90) , rgb(79, 201, 79));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
